@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.hero-video {
    width: 100%;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #B3B2AE;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #222222;
}

.capsules-videos {
    width: 848px;
}

.hero {
    width: 100%;
}

.splide slide-container is-initialized splide--slide splide--ltr splide--draggable is-active is-overflow {
    width: 760px;
}

.splide__track splide__track--slide splide__track--ltr splide__track--draggable {
    width: 760px;
}

.splide__list {
    width: 760px;
}

.splide__slide is-active is-visible {
    width: 760px;
}

@media only screen and (max-width: 900px) {
    .capsules-videos {
        width: 648px;
    }
}

@media only screen and (max-width: 600px) {
    .splide slide-container is-initialized splide--slide splide--ltr splide--draggable is-active is-overflow {
        width: 300px;
    }
    
    .splide__track splide__track--slide splide__track--ltr splide__track--draggable {
        width: 300px;
    }
    
    .splide__list {
        width: 300px;
    }
    
    .splide__slide is-active is-visible {
        width: 300px;
    }
    .capsules-videos {
        width: 286px;
    }
}